USE [master]
GO
/****** Object:  Database [Chap9_Baitap6]    Script Date: 26/04/2025 9:51:03 pm ******/
CREATE DATABASE [Chap9_Baitap6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chap9_Baitap6', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Chap9_Baitap6.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chap9_Baitap6_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Chap9_Baitap6_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chap9_Baitap6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chap9_Baitap6]
GO
/****** Object:  Table [dbo].[BANGCAP]    Script Date: 26/04/2025 9:51:04 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCAP](
	[MaBangCap] [int] IDENTITY(1,1) NOT NULL,
	[TenBangCap] [nvarchar](40) NULL,
 CONSTRAINT [PK_BANGCAP] PRIMARY KEY CLUSTERED 
(
	[MaBangCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUON]    Script Date: 26/04/2025 9:51:04 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUON](
	[MaSach] [int] NOT NULL,
	[MaPhieuMuon] [int] NOT NULL,
	[ngaytradukien] [datetime] NULL,
	[ngaytrathucte] [datetime] NULL,
	[trangthai] [tinyint] NULL,
 CONSTRAINT [PK_CHITIETPHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 26/04/2025 9:51:04 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MaDocGia] [int] IDENTITY(1,1) NOT NULL,
	[HoTenDocGia] [nvarchar](40) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](30) NULL,
	[NgayLapThe] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
	[SoDienThoai] [varchar](13) NULL,
 CONSTRAINT [PK_DOCGIA_1] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 26/04/2025 9:51:04 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTenNhanVien] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[MaBangCap] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUONSACH]    Script Date: 26/04/2025 9:51:04 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONSACH](
	[MaPhieuMuon] [int] IDENTITY(1,1) NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[MaDocGia] [int] NULL,
 CONSTRAINT [PK_PHIEUMUONSACH] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 26/04/2025 9:51:04 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MaPhieuThuTien] [int] IDENTITY(1,1) NOT NULL,
	[SoTienNo] [float] NULL,
	[SoTienThu] [float] NULL,
	[MaDocGia] [int] NULL,
	[MaNhanVien] [int] NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 26/04/2025 9:51:04 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](40) NULL,
	[TacGia] [nvarchar](30) NULL,
	[NamXuatBan] [int] NULL,
	[NhaXuatBan] [nvarchar](40) NULL,
	[TriGia] [float] NULL,
	[NgayNhap] [datetime] NULL,
	[Trangthai] [tinyint] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_account]    Script Date: 26/04/2025 9:51:04 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_account](
	[id] [int] NOT NULL,
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANGCAP] ON 

INSERT [dbo].[BANGCAP] ([MaBangCap], [TenBangCap]) VALUES (1, N'TIẾN SĨ')
INSERT [dbo].[BANGCAP] ([MaBangCap], [TenBangCap]) VALUES (2, N'THẠC SĨ')
INSERT [dbo].[BANGCAP] ([MaBangCap], [TenBangCap]) VALUES (3, N'ĐẠI HỌC')
SET IDENTITY_INSERT [dbo].[BANGCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTenDocGia], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [SoDienThoai]) VALUES (1, N'NGUYỄN HOÀNG MINH', CAST(N'1990-02-23T00:00:00.000' AS DateTime), N'41/4 CALMETTE Q1 TPHCM', N'hoangminh@yahoo.com', CAST(N'2000-12-30T00:00:00.000' AS DateTime), CAST(N'2012-12-30T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTenDocGia], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [SoDienThoai]) VALUES (2, N'TRẦN VĂN CHÂU', CAST(N'1992-08-29T00:00:00.000' AS DateTime), N'TRẦN HƯNG ĐẠO Q1
TPHCM', N'vanchau@yahoo.com', CAST(N'2001-11-22T00:00:00.000' AS DateTime), CAST(N'2013-11-22T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTenDocGia], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [SoDienThoai]) VALUES (3, N'NGUYỄN HOÀNG NAM', CAST(N'1980-02-21T00:00:00.000' AS DateTime), N'4 TRẦN ĐÌNH HƯNG
Q1 TPHCM', N'hoangmNAM@yahoo.com', CAST(N'2001-12-22T00:00:00.000' AS DateTime), CAST(N'2012-12-30T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNhanVien], [HoTenNhanVien], [NgaySinh], [DiaChi], [DienThoai], [MaBangCap]) VALUES (1, N'PHẠM MINH VŨ', CAST(N'1980-01-24T00:00:00.000' AS DateTime), N'163/30 Thành Thái
F.14 Q.10 TPHCM', N'0905646162', 1)
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [HoTenNhanVien], [NgaySinh], [DiaChi], [DienThoai], [MaBangCap]) VALUES (2, N'NGUYỄN MINH THÀNH', CAST(N'1983-04-05T00:00:00.000' AS DateTime), N'41/4 CALMETTE
Q1 TPHCM', N'0908373612', 2)
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [HoTenNhanVien], [NgaySinh], [DiaChi], [DienThoai], [MaBangCap]) VALUES (3, N'NGUYỄN HÀ MY', CAST(N'1985-04-13T00:00:00.000' AS DateTime), N'178 NAM KỲ KHỞI
NGHĨA Q4 TPHCM', N'0908783274', 3)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [NamXuatBan], [NhaXuatBan], [TriGia], [NgayNhap], [Trangthai]) VALUES (1, N'NHAP MON CNPM', N'PHẠM ĐÀO MINH VŨ', 2007, N'NXB THỐNG
KÊ', 70000, CAST(N'2008-12-18T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [NamXuatBan], [NhaXuatBan], [TriGia], [NgayNhap], [Trangthai]) VALUES (2, N'KỸ THUẬT LẬP TRÌNH', N'TRẦN MINH THÁI', 2005, N'NXB
GIÁO DỤC', 50000, CAST(N'2006-02-12T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [NamXuatBan], [NhaXuatBan], [TriGia], [NgayNhap], [Trangthai]) VALUES (3, N'CÔNG NGHỆ WEB', N'PHẠM ĐÀO MINH VŨ', 2009, N'NXB
TRẺ', 90000, CAST(N'2009-12-01T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SACH] OFF
GO
INSERT [dbo].[user_account] ([id], [username], [password]) VALUES (1, N'admin', N'admin')
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_PHIEUMUONSACH] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEUMUONSACH] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_PHIEUMUONSACH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_SACH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_NHANVIEN_BANGCAP] FOREIGN KEY([MaBangCap])
REFERENCES [dbo].[BANGCAP] ([MaBangCap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BANGCAP]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN]
GO
USE [master]
GO
