USE [Chap9_Baitap1]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 23/04/2025 9:14:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[categoryid] [int] IDENTITY(1,1) NOT NULL,
	[categoryname] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23/04/2025 9:14:55 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductCode] [char](10) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[OnHandQuantity] [int] NOT NULL,
	[categoryid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([categoryid], [categoryname]) VALUES (1, N'Sách .net')
INSERT [dbo].[categories] ([categoryid], [categoryname]) VALUES (2, N'Sách java')
INSERT [dbo].[categories] ([categoryid], [categoryname]) VALUES (3, N'Sách .net')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity], [categoryid]) VALUES (N'A3CS      ', N'Murach’s ASP.NET 3.5 Web Programming with C# 2008', 54.5000, 4637, 1)
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity], [categoryid]) VALUES (N'A3VB      ', N'Murach’s ASP.NET 3.5 Web Programming with VB 2008', 54.5000, 3974, 1)
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity], [categoryid]) VALUES (N'ADC3      ', N'Murach’s ADO.NET 3.5, LINQ, and EF with C# 2008', 54.5000, 5244, 2)
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [fk_c_p] FOREIGN KEY([categoryid])
REFERENCES [dbo].[categories] ([categoryid])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [fk_c_p]
GO
