<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chap9_Baitap2.Properties.Settings.Chap9_Baitap2ConnectionString"
            connectionString="Data Source=DESKTOP-8HOMOJ5;Initial Catalog=Chap9_Baitap2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>